# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
ENV/
anaconda_projects/

# Data
data_split/
dataset/
raw_data/
tracklets/

# Models & Outputs
*.h5
*.keras
*.tflite
output_saved_model/
output_tfjs/
submission/
*.zip

# Jupyter Notebooks
.ipynb_checkpoints/
project_filebrowser/
jupyter_*.json

# IDEs
.vscode/
.idea/
.DS_Store

# System
__MACOSX/

# Visualization
*.png
*.jpg
*.jpeg

# Large model files
saved_model/

